body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#main {
    width: 750px;
    margin: auto;
    padding-bottom: 50px;
}

#header {
    height: 110px;
    text-align: left;
    padding-left:15px;
    padding-top:5px;
    padding-bottom:5px;
    background-image: url("images/abstract-5258203_1920.png");
    background-color:rgb(77, 102, 0);
    background-size: 175px;
}

#header h3 {
    font-size:150%;
}

#header h2 {
    font-size:120%;
}

/*#breadcrumb {
    height:40px;
    padding-left:15px;
    padding-top:5px;
    padding-bottom:5px;
    background-color:rgb(77, 102, 0);
}

#breadcrumb h3 {
    font-size:120%;
}*/

td {
  padding: 1px;
}
th {
  padding: 5px;
  text-align: left;
}

.top {
    margin-top:50px;
}

.content {
    float: right;
    padding-right: 50px;
    padding-bottom: 50px;
    margin-top:50px;
    width:70%;
}

.container {
  display: flex; /* or inline-flex */
  flex-wrap:wrap;
  width: 70%;
}

#nav {
    width: 20%;
    margin-top: 75px;
    padding-left:15px;
    padding-right:20px;
}

.title {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

li {
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: rgb(0, 102, 153);
}

a:link {
    color: rgb(0, 102, 153); /*rgb(0, 153, 204)*/
}

a:active {
    color: rgb(0, 191, 255);
}

a:hover {
    color: rgb(0, 191, 255); /*rgb(0, 230, 138)*/
}

.container {
  display: flex; /* or inline-flex */
}

figure {
    display: block;
    width:260px;
    margin: 10px;
    border-color: #333333 #666666 #666666 #333333;
    border-width: 1px 2px 2px 1px;
    border-radius: 5px;
    box-shadow:2px 2px 3px #999999;
    background:rgb(240,240,250);
}

figure.wide {
    width: 400px;
}

figure img {
    width:200px;
    height:auto;
    margin:5px 25px 5px 25px;
    vertical-align: top;
    border-radius: 5px;
    background:rgb(255,255,255);
}

figure.wide img {
    width: 340px;
}

figure figcaption {
    text-align: center;
    vertical-align:center;
    margin:10px;
    background:rgb(240,240,250);
}

figure figcaption a {
    color:rgb(0, 102, 153);
}

figure figcaption a:hover {
    color:rgb(0, 191, 255);
}

/* Dropdown */

.navbar {
  overflow: hidden;
  background-color: #333; 
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: rgb(0, 102, 153);
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgb(0, 102, 153);
  background: -webkit-linear-gradient(rgb(0, 102, 153), #0099e6);
  background:    -moz-linear-gradient(rgb(0, 102, 153), #0099e6);
  background:         linear-gradient(rgb(0, 102, 153), #0099e6);
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}